################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/External_docs/~$$ERD and WireFrames.~vsdx
/elmah.axd
/packages/elmah.1.2.2
/packages/elmah.corelibrary.1.2.2/elmah.corelibrary.1.2.2.nupkg
/App_Readme
/Bin
