################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/External_docs/~$$ERD and WireFrames.~vsdx

!directory/

