################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/External_docs/~$$ERD and WireFrames.~vsdx

/packages/elmah.corelibrary.1.2.2
/External_docs/~$cumentation.docx
